networks:
  internal:
    internal: true
  external:
  downloading_internal:
    external: true

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      -  /mnt/user/appdata/downloading-extras/prowlarr:/config
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 9696:9696
    depends_on:
      - flaresolverr
    restart: unless-stopped

  # jackett:
  #   image: lscr.io/linuxserver/jackett:latest
  #   environment:
  #     - AUTO_UPDATE=false
  #     - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:jackett
  #     - PUID=99
  #     - PGID=100
  #     - UMASK=000
  #     - TZ=America/Chicago
  #   volumes:
  #     - /mnt/user/appdata/downloading-extras/jackett:/config
  #   networks:
  #     - internal
  #     - external
  #   ports:
  #     - 9117:9117
  #   depends_on:
  #     - flaresolverr
  #   restart: unless-stopped
 
  crossseed:
    image: ghcr.io/cross-seed/cross-seed:6
    user: 99:100
    command: daemon
    volumes:
      - /mnt/user/appdata/downloading-extras/cross-seed:/config
      - /mnt/user/media/downloads:/downloads
    networks:
      - internal
      - downloading_internal
    ports:
      - 2468:2468
    depends_on:
      # - jackett
      - prowlarr
      - sonarr
      - radarr
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=America/Chicago
    networks:
      - internal
      - external
    ports:
      - 8191:8191
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/media:/media
      - /mnt/user/appdata/downloading-extras/sonarr:/config
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 8989:8989
    depends_on:
      # - jackett
      - prowlarr
    restart: unless-stopped
    
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading-extras/radarr:/config
      - /mnt/user/media:/media
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 7878:7878
    depends_on:
      # - jackett
      - prowlarr
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading-extras/lidarr:/config
      - /mnt/user/media:/media
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 8686:8686
    depends_on:
      # - jackett
      - prowlarr
    restart: unless-stopped
      
  readarr:
    image: lscr.io/linuxserver/readarr:0.4.19-nightly
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading-extras/readarr:/config
      - /mnt/user/media:/data
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 8787:8787
    depends_on:
      # - jackett
      - prowlarr
    restart: unless-stopped

  readarraudiobooks:
    image: lscr.io/linuxserver/readarr:0.4.19-nightly
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading-extras/readarr-audiobook:/config
      - /mnt/user/media:/data
    networks:
      - internal
      - external
      - downloading_internal
    ports:
      - 8788:8787
    depends_on:
      # - jackett
      - prowlarr
    restart: unless-stopped
