networks:
  internal:
    internal: true
  external:
  downloading_internal:
    external: true

services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    environment:
      - AUTO_UPDATE=false
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:jackett
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/jackett:/config
    networks:
      - internal
      - external
    ports:
      - 9117:9117
    depends_on:
      - flaresolverr
    restart: unless-stopped
    
  crossseed:
    image: ghcr.io/cross-seed/cross-seed:5
    user: 99:100
    command: daemon
    volumes:
      - /mnt/user/appdata/cross-seed:/config
      - /mnt/user/appdata/qbittorrent/qBittorrent/BT_backup/:/torrents
      - /mnt/user/media/downloads/:/data
    networks:
      - internal
      - downloading_internal
    ports:
      - 2468:2468
    depends_on:
      - jackett
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=America/Chicago
    networks:
      - internal
    ports:
      - 8191:8191
    restart: unless-stopped
