networks:
  internal:
    internal: true
  external:

services:
  adguard:
    image: adguard/adguardhome:latest
    volumes:
      - /app/adguard/workdir:/opt/adguardhome/work
      - /app/adguard/confdir:/opt/adguardhome/conf
    networks:
      - internal
      - external
    ports:
      - 53:53
      - 53:53/udp
     # - 67:67/udp
     # - 68:68/udp
      - 80:80
      - 443:443
      - 443:443/udp
      - 3000:3000
     #- 853:853
     # - 853:853/udp
     # - 5443:5443
     # - 5443:5443/udp
      - 6060:6060/tcp
    restart: unless-stopped
