networks:
  internal:
    internal: true
  external:
  reverse-proxy_internal:
    external: true

services:
  vaultwarden:
    image: vaultwarden/server:latest
    env_file:
      - ../stack.env
    environment:
      - DOMAIN=$DOMAIN
      - DATABASE_URL=$DATABASE_URL
      - SIGNUPS_ALLOWED=false
    volumes:
      - /mnt/user/appdata/vaultwarden/vaultwarden:/data
    networks:
      - external
      - internal
      - reverse-proxy_internal
    ports:
      - 4743:80
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:14
    env_file:
      - ../stack.env
    environment:
      - POSTGRES_USER=$DB_USERNAME
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=vaultwarden
    volumes:
      - /mnt/user/appdata/vaultwarden/postgresql14:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped
