networks:
  internal:
    internal: true
  external:
  reverse-proxy_internal:
    external: true

services:

  # nextcloud:
  #   image: nextcloud:latest
  #   volumes:
  #     - /mnt/user/appdata/nextcloud/nextcloud/html:/var/www/html
  #     - /mnt/user/appdata/nextcloud/nextcloud/apps:/var/www/html/custom_apps
  #     - /mnt/user/appdata/nextcloud/nextcloud/config:/var/www/html/config
  #     - /mnt/user/cloud/nextcloud/data:/var/www/html/data
  #   networks:
  #     - internal
  #     - external
  #     - proxy_internal
  #   ports:
  #     8666:80
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #     collabora:
  #   restart: unless-stopped

  collabora:
    image: collabora/code:latest
    env_file:
      - ../stack.env
    environment:
      - username=$COLLABORA_USERNAME
      - password=$COLLABORA_PASSWORD
      - dictionaries=de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru
      - aliasgroup1=$DOMAIN
    networks:
      - internal
      - external
      - proxy_internal
    ports:
      - 9980:9980
    restart: unless-stopped
    
  postgres:
    image: postgres:16
    volumes:
      - /mnt/user/appdata/mealie/postgres:/var/lib/postgresql/data
    env_file:
      - ../stack.env
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=nextcloud
    networks:
      - internal
      - external
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped

  redis:
    image: docker.io/redis:latest
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - internal
    restart: unless-stopped
