networks:
  internal:
    internal: true
  external:
  reverse-proxy_internal:
    external: true
    
services:
  immichserver:
    image: ghcr.io/immich-app/immich-server:release
    env_file:
      - ../stack.env
    environment:
      - DB_HOSTNAME=postgres
      - DB_PORT=5432
      - DB_DATABASE_NAME=immich
      - DB_USERNAME=$DB_USERNAME
      - DB_PASSWORD=$DB_PASSWORD
      - TZ=America/Chicago
    volumes:
      - /mnt/user/cloud/immich:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    networks:
      - external
      - internal
      - reverse-proxy_internal
    ports:
      - 2283:2283
    depends_on:
      - redis
      - postgres
    restart: unless-stopped

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
      - model-cache:/cache
    networks:
      - internal
    restart: unless-stopped

  redis:
    image: docker.io/redis:6.2-alpine@sha256:328fe6a5822256d065debb36617a8169dbfbd77b797c525288e465f56c1d392b
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - internal
    restart: unless-stopped

  postgres:
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
    command: ["postgres", "-c" ,"shared_preload_libraries=vectors.so", "-c", 'search_path="$$user", public, vectors', "-c", "logging_collector=on", "-c", "max_wal_size=2GB", "-c", "shared_buffers=512MB", "-c", "wal_compression=on"]
    env_file:
      - ../stack.env
    environment:
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - /mnt/user/appdata/immich/postgresql:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: pg_isready --dbname='immich' --username='$DB_USERNAME' || exit 1; Chksum="$$(psql --dbname='immich' --username='$DB_USERNAME' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
      interval: 5m
    restart: unless-stopped

  immich-kiosk:
    image: damongolding/immich-kiosk:latest
    env_file:
      - ../stack.env
    environment:
      TZ: "America/Chicago"
      # Required settings
      KIOSK_IMMICH_API_KEY: $IMMICH_API_TOKEN
      KIOSK_IMMICH_URL: immichserver:2283
      # Clock
      KIOSK_SHOW_TIME: TRUE
      KIOSK_TIME_FORMAT: 12
      KIOSK_SHOW_DATE: TRUE
      KIOSK_DATE_FORMAT: "DDDD MMMM DD YYYY"
      # Kiosk behaviour
      KIOSK_REFRESH: 60
      KIOSK_DISABLE_SCREENSAVER: TRUE
      # Asset sources
      KIOSK_SHOW_ARCHIVED: FALSE
      KIOSK_ALBUM: "bff87026-9e29-4c7d-b6ae-53c6ff5f78ab,baa70b3a-7e4e-42f2-bc37-6717048ccbb7,41fba02e-4097-4854-9c0f-d0b89b7a0e71"
      KIOSK_PERSON: "f459f375-aa1e-4b91-b428-a1e491a62dcb,330ae4b2-07e4-4141-bf28-f1a23781bb00"
      # UI
      KIOSK_DISABLE_UI: FALSE
      KIOSK_HIDE_CURSOR: FALSE
      KIOSK_FONT_SIZE: 100
      KIOSK_BACKGROUND_BLUR: TRUE
      KIOSK_THEME: FADE
      KIOSK_LAYOUT: single
      # Sleep mode
      KIOSK_SLEEP_START: ""
      KIOSK_SLEEP_END: ""
      # Transistion options
      KIOSK_TRANSITION: NONE
      KIOSK_FADE_TRANSITION_DURATION: 1
      KIOSK_CROSS_FADE_TRANSITION_DURATION: 1
      # Image display settings
      KIOSK_SHOW_PROGRESS: FALSE
      KIOSK_IMAGE_FIT: CONTAIN
      KIOSK_IMAGE_EFFECT: FALSE
      KIOSK_IMAGE_ZOOM_AMOUNT: 120
      # Image metadata
      KIOSK_SHOW_IMAGE_TIME: FALSE
      KIOSK_IMAGE_TIME_FORMAT: 24
      KIOSK_SHOW_IMAGE_DATE: FALSE
      KIOSK_IMAGE_DATE_FORMAT: YYYY-MM-DD
      KIOSK_SHOW_IMAGE_EXIF: FALSE
      KIOSK_SHOW_IMAGE_LOCATION: FALSE
      KIOSK_SHOW_IMAGE_ID: FALSE
      # Kiosk settings
      KIOSK_PASSWORD:
      KIOSK_CACHE: TRUE
      KIOSK_PREFETCH: TRUE
      KIOSK_ASSET_WEIGHTING: TRUE
    networks:
      - external
      - internal
    ports:
      - 3002:3000
    depends_on:
      - immichserver
    restart: unless-stopped

volumes:
  model-cache:
