networks:
  internal:
    internal: true
  external:
  reverse-proxy_internal:
    external: true
    
services:
  immichserver:
    image: ghcr.io/immich-app/immich-server:release
    env_file:
      - ../stack.env
    environment:
      - DB_HOSTNAME=postgres
      - DB_PORT=5432
      - DB_DATABASE_NAME=immich
      - DB_USERNAME=$DB_USERNAME
      - DB_PASSWORD=$DB_PASSWORD
      - REDIS_HOSTNAME=valkey
      - TZ=America/Chicago
    volumes:
      - /mnt/user/cloud/immich:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    networks:
      - external
      - internal
      - reverse-proxy_internal
    ports:
      - 2283:2283
    depends_on:
      - valkey
      - postgres
    restart: unless-stopped

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    environment:
      - REDIS_HOSTNAME=valkey
    volumes:
      - model-cache:/cache
    networks:
      - internal
    restart: unless-stopped

  valkey:
    image: docker.io/valkey/valkey:8-bookworm
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - internal
    restart: unless-stopped

  postgres:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    env_file:
      - ../stack.env
    environment:
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - /mnt/user/appdata/immich/postgresql:/var/lib/postgresql/data
    networks:
      - internal
    restart: unless-stopped

  immich-kiosk-lb:
    image: ghcr.io/agentgodzilla/caddy-cloudflare-dynamicdns:latest
    volumes:
      - /mnt/user/appdata/immich/caddy/data:/data
      - /mnt/user/appdata/immich/caddy/config:/config
      - /mnt/user/appdata/immich/caddy/Caddyfile:/etc/caddy/Caddyfile
    networks:
      - internal
      - external
    ports:
      - 3002:80
    depends_on:
      - immich-kiosk-people
      - immich-kiosk-animals

  immich-kiosk-people:
    image: ghcr.io/damongolding/immich-kiosk:latest
    env_file:
      - ../stack.env
    environment:
      LANG: "en_US"
      TZ: "America/Chicago"
      # Required settings
      KIOSK_IMMICH_API_KEY: $IMMICH_API_TOKEN
      KIOSK_IMMICH_URL: "immichserver:2283"
      KIOSK_IMMICH_EXTERNAL_URL: $IMMICH_DOMAIN
      # Clock
      KIOSK_SHOW_TIME: true
      KIOSK_TIME_FORMAT: 12
      KIOSK_SHOW_DATE: true
      KIOSK_DATE_FORMAT: "DDDD MMMM DD YYYY"
      # Kiosk behaviour
      KIOSK_DISABLE_SCREENSAVER: true
      # Asset sources
      KIOSK_ALBUM: "bff87026-9e29-4c7d-b6ae-53c6ff5f78ab,8a19fa9d-0730-4eec-b1e2-c593eaa489fe,41fba02e-4097-4854-9c0f-d0b89b7a0e71"
      KIOSK_EXCLUDED_ALBUMS: "acc4b483-6605-4de1-91eb-54e9cc1654cc,ab956080-ee3e-4ee2-a071-7d104002b798"
      KIOSK_PERSON: "f459f375-aa1e-4b91-b428-a1e491a62dcb,330ae4b2-07e4-4141-bf28-f1a23781bb00"
      # UI
      # Sleep mode
      # Transistion options
      # Image display settings
      KIOSK_IMAGE_EFFECT: smart-zoom
      KIOSK_USE_ORIGINAL_IMAGE: true
      # Image metadata
      # More info actions
      # Kiosk settings
    networks:
      - internal
    depends_on:
      - immichserver
    restart: unless-stopped

  immich-kiosk-animals:
    image: ghcr.io/damongolding/immich-kiosk:latest
    env_file:
      - ../stack.env
    environment:
      LANG: "en_US"
      TZ: "America/Chicago"
      # Required settings
      KIOSK_IMMICH_API_KEY: $IMMICH_API_TOKEN
      KIOSK_IMMICH_URL: "immichserver:2283"
      KIOSK_IMMICH_EXTERNAL_URL: $IMMICH_DOMAIN
      # Clock
      KIOSK_SHOW_TIME: true
      KIOSK_TIME_FORMAT: 12
      KIOSK_SHOW_DATE: true
      KIOSK_DATE_FORMAT: "DDDD MMMM DD YYYY"
      # Kiosk behaviour
      KIOSK_DISABLE_SCREENSAVER: true
      # Asset sources
      KIOSK_ALBUM: "baa70b3a-7e4e-42f2-bc37-6717048ccbb7"
      # UI
      # Sleep mode
      # Transistion options
      # Image display settings
      KIOSK_USE_ORIGINAL_IMAGE: true
      # Image metadata
      # More info actions
      # Kiosk settings
    networks:
      - internal
    depends_on:
      - immichserver
    restart: unless-stopped

volumes:
  model-cache:
