networks:
  internal:
    internal: true
  external:

services:
  hbbs:
    container_name: hbbs
    ports:
      - 21115:21115
      - 21116:21116
      - 21116:21116/udp
      - 21118:21118
    image: rustdesk/rustdesk-server:latest
    command: hbbs -r $DOMAIN:$PORT
    volumes:
      - /mnt/user/appdata/rustdesk:/root
    networks:
      - internal
      - external
    depends_on:
      - hbbr
    restart: unless-stopped

  hbbr:
    container_name: hbbr
    ports:
      - 21117:21117
      - 21119:21119
    image: rustdesk/rustdesk-server:latest
    command: hbbr
    volumes:
      - /mnt/user/appdata/rustdesk:/root
    networks:
      - internal
      - external
    restart: unless-stopped
