networks:
  internal:
    internal: true
  external:

services:
#   swag:
#     image: lscr.io/linuxserver/swag
#     cap_add:
#       - NET_ADMIN
#     env_file:
#       - ../stack.env
#     environment:
#       - PUID=99
#       - PGID=100
#       - TZ=America/Chicago
#       - URL=$DOMAIN
#       - SUBDOMAINS=wildcard
#       - VALIDATION=dns
#       - DNSPLUGIN=cloudflare
#       - DOCKER_MODS=linuxserver/mods:swag-dashboard|linuxserver/mods:swag-auto-reload
#     volumes:
#       - /mnt/user/appdata/reverse-proxy/swag:/config
#     networks:
#       - external
#       - internal
#     ports:
#       - 44301:443
#       - 8001:80
#       - 89:81
#     restart: unless-stopped
#
  caddy:
    image: ghcr.io/agentgodzilla/caddy-cloudflare-dynamicdns:latest
    env_file:
      - ../stack.env
    environment:
      - CLOUDFLARE_EMAIL=$CLOUDFLARE_EMAIL
      - CLOUDFLARE_API_TOKEN=$CLOUDFLARE_API_TOKEN
      - ACME_AGREE=true
    volumes:
      - /mnt/user/appdata/reverse-proxy/caddy/data:/data
      - /mnt/user/appdata/reverse-proxy/caddy/config:/config
      - /mnt/user/appdata/reverse-proxy/caddy/Caddyfile:/etc/caddy/Caddyfile
    networks:
      - external
      - internal
    ports:
      - 44301:443
      - 8001:80
    restart: unless-stopped
    
  # cloudflareddns:
  #   image: oznu/cloudflare-ddns:latest
  #   networks:
  #     - external
  #   env_file:
  #     - ../stack.env
  #   environment:
  #     - API_KEY=$API_KEY
  #     - ZONE=$DOMAIN
  #     - PROXIED=true
  #   restart: unless-stopped
