networks:
  internal:
    internal: true
  external:
  downloadcrossover:
    external: true
    
services:
  gluetun:
    image: qmcgaw/gluetun:latest  
    cap_add:
      - NET_ADMIN
    env_file:
      - ../stack.env
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - VPN_ENDPOINT_IP=$VPN_ENDPOINT_IP
      - VPN_ENDPOINT_PORT=$VPN_ENDPOINT_PORT
      - WIREGUARD_PUBLIC_KEY=$WIREGUARD_PUBLIC_KEY
      - WIREGUARD_PRIVATE_KEY=$WIREGUARD_PRIVATE_KEY
      - WIREGUARD_ADDRESSES=$WIREGUARD_ADDRESSES
      - FIREWALL_VPN_INPUT_PORTS=$FIREWALL_VPN_INPUT_PORTS
      - FIREWALL_OUTBOUND_SUBNETS=$FIREWALL_OUTBOUND_SUBNETS
      - DNS_KEEP_NAMESERVER=on
      - PUBLICIP_API=ip2location
      - PUBLICIP_API_TOKEN=$PUBLICIP_API_TOKEN
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/gluetun:/gluetun
    networks:
      - internal
      - external
      - downloadcrossover
    ports:
      - $QBITTORRENT_WEBUI_PORT:$QBITTORRENT_WEBUI_PORT # qbit
      - 8081:8081 # sabnzbd
    restart: unless-stopped
    
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: service:gluetun
    env_file:
      - ../stack.env
    environment:
      - WEBUI_PORT=$QBITTORRENT_WEBUI_PORT
      - TORRENTING_PORT=$FIREWALL_VPN_INPUT_PORTS
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago  
    volumes:
      - /mnt/user/appdata/qbittorrent:/config
      - /mnt/user/media/downloads/:/downloads
    restart: unless-stopped
    
  portcheck:
    image: eiqnepm/portcheck:latest
    env_file:
      - ../stack.env
    environment:
      - QBITTORRENT_WEBUI_HOST=gluetun
      - QBITTORRENT_PORT=$FIREWALL_VPN_INPUT_PORTS
      - QBITTORRENT_USERNAME=$QBITTORRENT_USERNAME
      - QBITTORRENT_PASSWORD=$QBITTORRENT_PASSWORD
    entrypoint: sh -c "sleep 30; /app"
    networks:
      - internal
      - external
      - downloadcrossover
    depends_on:
      - qbittorrent
    restart: unless-stopped
    
  qbit-tagger:
    image: ghcr.io/milkers69/qbit-tagger:main
    env_file:
      - ../stack.env
    environment:
      - HOST=http://gluetun:$QBITTORRENT_WEBUI_PORT
      - TAG=Not Working
      - USERNAME=$QBITTORRENT_USERNAME
      - PASSWORD=$QBITTORRENT_PASSWORD
    entrypoint: sh -c "sleep 30; while true; do python3 /app/app.py; sleep $((60*15)); done"
    networks:
      - internal
    depends_on:
      - qbittorrent
    restart: unless-stopped
    
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    network_mode: service:gluetun
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/media/downloads:/downloads
      - /mnt/user/media/downloads/nzb/incomplete:/incomplete-downloads
      - /mnt/user/appdata/sabnzbd:/config
    restart: unless-stopped
