networks:
  internal:
    internal: true
  external:
    
services:
  gluetun:
    image: qmcgaw/gluetun:v3
    cap_add:
      - NET_ADMIN
    env_file:
      - ../stack.env
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=$VPN_SERVICE_PROVIDER
      - VPN_TYPE=wireguard
      - VPN_PORT_FORWARDING=on
      - PORT_FORWARD_ONLY=true
      - SERVER_CITIES=$SERVER_CITIES
      - WIREGUARD_PRIVATE_KEY=$WIREGUARD_PRIVATE_KEY
      - VPN_PORT_FORWARDING_UP_COMMAND=$VPN_PORT_FORWARDING_UP_COMMAND
      - VPN_PORT_FORWARDING_DOWN_COMMAND=$VPN_PORT_FORWARDING_DOWN_COMMAND
      - FIREWALL_OUTBOUND_SUBNETS=$FIREWALL_OUTBOUND_SUBNETS
      - DNS_KEEP_NAMESERVER=on
      - PUBLICIP_ENABLED=false
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading/gluetun:/gluetun
    networks:
      - internal
      - external
    ports:
      - 8080:8080 # qbit
      - 8081:8081 # sabnzbd
    restart: unless-stopped
    
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.2-libtorrentv1
    network_mode: service:gluetun
    env_file:
      - ../stack.env
    environment:
      - WEBUI_PORT=8080
      # - TORRENTING_PORT=$FIREWALL_VPN_INPUT_PORTS
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading/qbittorrent:/config
      - /mnt/user/media/downloads/:/downloads
    restart: unless-stopped

  qui:
    image: ghcr.io/autobrr/qui:latest
    ports:
      - 7476:7476
    volumes:
      -  /mnt/user/appdata/downloading/qui:/config
    networks:
      - internal
      - external
    depends_on:
      - qbittorrent
    restart: unless-stopped
    
  # portcheck:
  #   image: eiqnepm/portcheck:latest
  #   network_mode: "service:gluetun"
  #   env_file:
  #     - ../stack.env
  #   environment:
  #     - QBITTORRENT_WEBUI_HOST=gluetun
  #     - QBITTORRENT_PORT=$FIREWALL_VPN_INPUT_PORTS
  #     - QBITTORRENT_USERNAME=$QBITTORRENT_USERNAME
  #     - QBITTORRENT_PASSWORD=$QBITTORRENT_PASSWORD
  #   entrypoint: sh -c "sleep 30; /app"
  #   depends_on:
  #     - qbittorrent
  #   restart: unless-stopped

  # qbit-tagger:
  #   image: ghcr.io/milkers69/qbit-tagger:main
  #   env_file:
  #     - ../stack.env
  #   environment:
  #     - HOST=http://gluetun:8080
  #     - TAG=Not Working
  #     - USERNAME=$QBITTORRENT_USERNAME
  #     - PASSWORD=$QBITTORRENT_PASSWORD
  #   entrypoint: sh -c "sleep 90; while true; do python3 /app/app.py; sleep $((60*15)); done"
  #   networks:
  #     - internal
  #   depends_on:
  #     - qbittorrent
  #   restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    network_mode: service:gluetun
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/media/downloads:/downloads
      - /mnt/user/media/downloads/nzb/incomplete:/incomplete-downloads
      - /mnt/user/appdata/downloading/sabnzbd:/config
    restart: unless-stopped
