networks:
  internal:
    internal: true
  external:
    
services:
  pia:
    image: thrnz/docker-wireguard-pia:latest
    env_file:
      - ../stack.env
    cap_add:
      - NET_ADMIN
    environment:
      - LOCAL_NETWORK=$LOCAL_NETWORK
      - LOC=$VPN_LOCATION
      - USER=$VPN_USERAME
      - PASS=$VPN_PASSWORD
      - PORT_FORWARDING=1
      - PORT_SCRIPT=/set_qbt_port.sh
      - VPNDNS=$DNS_SERVERS
      - PORT_FATAL=1
      - ACTIVE_HEALTHCHECKS=1
      - RECONNECT=1
    volumes:
      - /mnt/user/appdata/downloading/pia:/pia
      - /mnt/user/appdata/downloading/pia/set_qbt_port.sh:/set_qbt_port.sh
     networks:
      - internal
      - external
    ports:
      - 8080:8080 # qbit
      - 8081:8081 # sabnzbd
    sysctls:
        - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.4-libtorrentv1
    network_mode: service:pia
    environment:
      - WEBUI_PORT=8080
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/downloading/qbittorrent:/config
      - /mnt/user/media/downloads/:/downloads
    restart: unless-stopped

  qui:
    image: ghcr.io/autobrr/qui:latest
    ports:
      - 7476:7476
    volumes:
      -  /mnt/user/appdata/downloading/qui:/config
    networks:
      - internal
      - external
    depends_on:
      - qbittorrent
    restart: unless-stopped
    
  # portcheck:
  #   image: eiqnepm/portcheck:latest
  #   network_mode: "service:gluetun"
  #   env_file:
  #     - ../stack.env
  #   environment:
  #     - QBITTORRENT_WEBUI_HOST=gluetun
  #     - QBITTORRENT_PORT=$FIREWALL_VPN_INPUT_PORTS
  #     - QBITTORRENT_USERNAME=$QBITTORRENT_USERNAME
  #     - QBITTORRENT_PASSWORD=$QBITTORRENT_PASSWORD
  #   entrypoint: sh -c "sleep 30; /app"
  #   depends_on:
  #     - qbittorrent
  #   restart: unless-stopped

  # qbit-tagger:
  #   image: ghcr.io/milkers69/qbit-tagger:main
  #   env_file:
  #     - ../stack.env
  #   environment:
  #     - HOST=http://gluetun:8080
  #     - TAG=Not Working
  #     - USERNAME=$QBITTORRENT_USERNAME
  #     - PASSWORD=$QBITTORRENT_PASSWORD
  #   entrypoint: sh -c "sleep 90; while true; do python3 /app/app.py; sleep $((60*15)); done"
  #   networks:
  #     - internal
  #   depends_on:
  #     - qbittorrent
  #   restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    network_mode: service:pia
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/media/downloads:/downloads
      - /mnt/user/media/downloads/nzb/incomplete:/incomplete-downloads
      - /mnt/user/appdata/downloading/sabnzbd:/config
    restart: unless-stopped
