services:
  gluetun:
    image: qmcgaw/gluetun:latest  
    cap_add:
      - NET_ADMIN
    env_file:
      - stack.env
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - VPN_ENDPOINT_IP=$VPN_ENDPOINT_IP
      - VPN_ENDPOINT_PORT=$VPN_ENDPOINT_PORT
      - WIREGUARD_PUBLIC_KEY=$WIREGUARD_PUBLIC_KEY
      - WIREGUARD_PRIVATE_KEY=$WIREGUARD_PRIVATE_KEY
      - WIREGUARD_PRESHARED_KEY=$WIREGUARD_PRESHARED_KEY
      - WIREGUARD_ADDRESSES=$WIREGUARD_ADDRESSES
      - FIREWALL_VPN_INPUT_PORTS=$FIREWALL_VPN_INPUT_PORTS
      - FIREWALL_OUTBOUND_SUBNETS=$FIREWALL_OUTBOUND_SUBNETS
      - PUBLICIP_API=ip2location
      - PUBLICIP_API_TOKEN=$PUBLICIP_API_TOKEN
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/gluetun:/gluetun
    restart: always
