services:
  plex:
    image: lscr.io/linuxserver/plex
    network_mode: host
    environment:
      - VERSION=docker
      - PUID=99
      - PGID=100
      - UMASK=000
    volumes:
      - /mnt/user/temp:/transcode
      - /mnt/user/media:/data
      - /mnt/user/appdata/Plex-Media-Server:/config
    restart: always
