services:
  plex:
    image: lscr.io/linuxserver/plex
    network_mode: host
    environment:
      - VERSION=docker
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/Plex-Media-Server:/config
      - /mnt/user/media:/data
      - /mnt/user/temp:/transcode
      - /dev/dri:/dev/dri
    restart: always
  jellyfin:
    image: lscr.io/linuxserver/jellyfin
    environment:
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    volumes:
      - /mnt/user/appdata/jellyfin:/config
      - /mnt/user/media:/data
      - /dev/dri:/dev/dri
    ports:
      - 8096:8096
    restart: always
  
