networks:
  internal:
    internal: true
  external:
  reverse-proxy_internal:
    external: true

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    environment:
      - VERSION=docker
      - PUID=99
      - PGID=100
      - UMASK=000
      - TZ=America/Chicago
    devices:
      - /dev/dri:/dev/dri
    networks:
      - internal
      - external
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 5354:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    volumes:
      - /mnt/user/appdata/media-streaming/Plex-Media-Server:/config
      - /mnt/user/media:/data
      - /mnt/user/temp:/transcode
    restart: unless-stopped

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    user: 99:100
    environment:
      - TZ=America/Chicago
    networks:
      - internal
      - external
      - reverse-proxy_internal
    ports:
      - 13378:80
    volumes:
      - /mnt/user/media/Audiobooks:/audiobooks
      - /mnt/user/media/Podcasts:/podcasts
      - /mnt/user/appdata/media-streaming/audiobookshelf:/config
      - /mnt/user/appdata/media-streaming/audiobookshelf/metadata:/metadata
    restart: unless-stopped

  # jellyfin:
  #   image: lscr.io/linuxserver/jellyfin:latest
  #   environment:
  #     - PUID=99
  #     - PGID=100
  #     - UMASK=000
  #     - TZ=America/Chicago
  #   devices:
  #     - /dev/dri:/dev/dri
  #   volumes:
  #     - /mnt/user/appdata/media-streaming/jellyfin:/config
  #     - /mnt/user/media:/data
  #   networks:
  #     - internal
  #     - external
  #   ports:
  #     - 8096:8096
  #   restart: unless-stopped
    
  # watchstate:
  #   image: ghcr.io/arabcoders/watchstate:latest
  #   user: 99:100
  #   environment:
  #     - WS_CRON_IMPORT=true
  #     - WS_CRON_EXPORT=true
  #     - WS_TZ=America/Chicago
  #   volumes:
  #     - /mnt/user/appdata/media-streaming/watchstate:/config
  #   networks:
  #     - internal
  #     - external
  #   ports:
  #     - 8084:8080
  #   depends_on:
  #     - plex
  #     - jellyfin
  #   restart: unless-stopped
    
  
